<!DOCTYPE html>
<html>
	<head>
			<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h3>Hello <%= @user.name %>,</h3>
		<p>
			<h4><font color="red"> ALERT!</h4>
			There has been a <%= @crime.Name %> at <%= @crime.Location %>.
			<br>
			<%= @crime.Description %>
		</p>
	</body>
	</html>

